<div id="<%= component_id %>" class="<%= css_class %>">
  <% if title.present? %>
    <h3 class="text-lg font-semibold mb-3"><%= title %></h3>
  <% end %>
  <% if child %>
    <%= render A2UI::Components::Renderer.for(child, surface_id: surface_id, components_lookup: components_lookup, data: data) %>
  <% end %>
</div>
