<div id="<%= component_id %>" class="editorial-insight">
  <p><%= what %> <%= so_what %></p>
  <% if now_what.present? %>
    <p class="editorial-insight__action"><%= now_what %></p>
  <% end %>
</div>
