<div data-component="insight-block" data-sentiment="<%= sentiment %>" class="flex gap-3 py-3">
  <span class="text-xl flex-shrink-0"><%= icon %></span>
  <div class="flex-1 min-w-0">
    <h3 class="font-medium text-gray-900"><%= headline %></h3>
    <p class="text-sm text-gray-600 mt-0.5"><%= narrative %></p>
  </div>
</div>
