<article class="suggestion-item" data-component="suggestion" data-suggestion-type="<%= suggestion_type %>">
  <div class="suggestion-marker"></div>
  <div class="flex-1 min-w-0">
    <h4 class="suggestion-title"><%= title %></h4>
    <p class="suggestion-body"><%= body %></p>
  </div>
</article>
