<div data-component="suggestion" data-suggestion-type="<%= suggestion_type %>" class="bg-gray-50 rounded-xl p-4">
  <div class="flex gap-3">
    <span class="text-xl flex-shrink-0"><%= icon %></span>
    <div class="flex-1 min-w-0">
      <h3 class="font-medium text-gray-900"><%= title %></h3>
      <p class="text-sm text-gray-600 mt-1"><%= body %></p>
    </div>
  </div>
</div>
